*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Circe, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 320px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        max-width: 768px;

        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;

        padding-left: 16px;
        padding-right: 16px;
    }  
}