@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Circe;
    src: url("../assets/fonts/circe/CRC35.otf");
    font-weight: 400;
}

@font-face {
    font-family: Circe;
    src: url("../assets/fonts/circe/Circe-Bold.otf");
    font-weight: 700;
}