$accent-green: #24cca7;
$accent-blue: #4a56e2;
$accent-pink: #ff6596;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #a6a6a6;
$income-hover-cl: #2eb899;
$secondary-bg-cl: rgba(255, 255, 255, 0.4);

:root {
  --accent-green: #24cca7;
  --accent-blue: #4a56e2;
  --accent-pink: #ff6596;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #a6a6a6;

  --bcg-main-color: rgba(241, 243, 248, 1);
  --bcg-pink-grad-color: #ffd8d0;
  --bcg-blue-grad-color: #c5baff;

  --income-cl: #24cca7;
  --income-hover-cl: #2eb899;
  --expense-cl: #ff6596;
  --expense-hover-cl: #e75b88;
  --bottom-table-row: #dcdcdf;
}
