.PasswordBar {
  position: absolute;
  bottom: 10px;
  width: 280px;
  height: 5px;
  border-radius: 15px;
  background-color: #e5f1ef;
  @media screen and (min-width: 768px) {
    width: 410px;

  }

}

.bar {
  transition: width 500ms ease;
}
.weak {
  transition: width 500ms ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 10%;
  background-color: #24cca7;
  border-radius: 15px;
  box-shadow: #24cca7 0px 0px 3px 0px;
}

.medium {
  transition: width 500ms ease;
  height: 5px;
  width: 25%;
  background-color: #24cca7;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: #24cca7 0px 0px 3px 0px;
}

.Fine {
  transition: width 500ms ease;
  height: 5px;
  width: 60%;
  background-color: #24cca7;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: #24cca7 0px 0px 3px 0px;
}

.strong {
  transition: width 500ms ease;
  height: 5px;
  width: 100%;
  background-color: #24cca7;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: #24cca7 0px 0px 3px 0px;
}
