.section {
    position: relative;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
  
    @media screen and (min-width: 768px) {
      background-color: var(--bcg-main-color);
  
      background-image: url('../../assets/images/dashboardPage/tablet_img_bg.png');
    }
  
    @media screen and (min-width: 1280px) {
      padding: 0px;
      background-image: url('../../assets/images/dashboardPage/des_img_bg.png');
    }
  }
  .container {
    padding: 0px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }
  
  .val {
    @media screen and (min-width: 768px) {
      width: 336px;
      height: 182px;
      background: #4a56e2;
      border-radius: 30px;
      margin-left: auto;
      margin-top: 32px;
      margin-right: 32px;
    }
    @media screen and (min-width: 1280px) {
      width: 395px;
      height: 330px;
      background: #4a56e2;
      border-radius: 30px;
      margin-top: 32px;
      margin-left: 19px;
      margin-right: 0px;
    }
  }

 
  .wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1280px) {
      display: block;
    }
  }
  
  .commonWrapper {
    @media screen and (min-width: 1280px) {
      display: block;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .wrapper {
    @media screen and (min-width: 1280px) {
      border-right: 2px solid #e7eaf2;
      padding-right: 69px;
    }
  }

  .img {
    width: 274px;
    height: 250px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  
//     @media screen and (min-width: 1280px) {
//         width: 452px;
//         height: 413px;
//         margin-bottom: 32px;
//       }
  }
  
  

  