.wrapper {
  position: relative;
  align-items: center;
  min-height: 174px;
  border-radius: 30px;
  color: var(--white-color);
  background-image: url('./img/currency-sm.png'),
    linear-gradient(to bottom, var(--accent-blue), var(--accent-blue));

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  @media screen and (min-width: 320px) {
    margin: 0 auto;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 182px;
    display: block;
  }

  @media screen and (min-width: 1280px) {
    width: 393px;
    height: 331px;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 30px 30px 0 0;
  padding-left: 19px;
  padding-right: 18px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 393px;
    height: 60px;
    padding-right: 55px;
    padding-left: 55px;
  }
}

.header {
  width: calc(100% / 3);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}

.list {
  min-height: 96px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 393px;
    padding-right: 58px;
    padding-left: 61px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 12px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 24px;
    }
  }
}

.Data {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
